/vendor/
/.phpunit.cache/
/.phpunit.result.cache
/.claude/

# Playwright
/tests/playwright/node_modules/
/tests/playwright/package-lock.json
/tests/playwright/test-results/
/tests/playwright/playwright-report/

# DDEV
.editorconfig
.gitattributes
/web/

# Composer
/composer.lock
