parameters:
	ignoreErrors:
		-
			message: '#^Method Drupal\\scolta\\AiProvider\\Amazee\\DrupalConfigStorage\:\:decrypt\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/AiProvider/Amazee/DrupalConfigStorage.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Controller/AiApiControllerBase.php

		-
			message: '#^Call to method set\(\) on an unknown class Drupal\\user\\UserDataInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controller/DismissRebuildNoticeController.php

		-
			message: '#^Parameter \$userData of method Drupal\\scolta\\Controller\\DismissRebuildNoticeController\:\:__construct\(\) has invalid type Drupal\\user\\UserDataInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controller/DismissRebuildNoticeController.php

		-
			message: '#^Property Drupal\\scolta\\Controller\\DismissRebuildNoticeController\:\:\$userData has unknown class Drupal\\user\\UserDataInterface as its type\.$#'
			identifier: class.notFound
			count: 2
			path: src/Controller/DismissRebuildNoticeController.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Controller/DismissRebuildNoticeController.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Controller/HealthController.php

		-
			message: '#^Offset ''id'' on array\{id\: string, name\: string, url\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Form/AmazeeSettingsForm.php

		-
			message: '#^Offset ''name'' on array\{id\: string, name\: string, url\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Form/AmazeeSettingsForm.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Form/AmazeeSettingsForm.php

		-
			message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:getServerId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Form/ScoltaSettingsForm.php

		-
			message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:status\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Form/ScoltaSettingsForm.php

		-
			message: '#^Function batch_set not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Form/ScoltaSettingsForm.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Form/ScoltaSettingsForm.php

		-
			message: '#^Function base_path not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Plugin/Block/ScoltaSearchBlock.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Plugin/Block/ScoltaSearchBlock.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Plugin/QueueWorker/ScoltaRebuildWorker.php

		-
			message: '#^Call to method getDatasourceId\(\) on an unknown class Drupal\\search_api\\Item\\ItemInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/Service/PagefindExporter.php

		-
			message: '#^Call to method getId\(\) on an unknown class Drupal\\search_api\\Item\\ItemInterface\.$#'
			identifier: class.notFound
			count: 5
			path: src/Service/PagefindExporter.php

		-
			message: '#^Call to method getOriginalObject\(\) on an unknown class Drupal\\search_api\\Item\\ItemInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/Service/PagefindExporter.php

		-
			message: '#^Parameter \$item of method Drupal\\scolta\\Service\\PagefindExporter\:\:buildMetadata\(\) has invalid type Drupal\\search_api\\Item\\ItemInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/Service/PagefindExporter.php

		-
			message: '#^Parameter \$item of method Drupal\\scolta\\Service\\PagefindExporter\:\:exportItem\(\) has invalid type Drupal\\search_api\\Item\\ItemInterface\.$#'
			identifier: class.notFound
			count: 2
			path: src/Service/PagefindExporter.php

		-
			message: '#^Parameter \$item of method Drupal\\scolta\\Service\\PagefindExporter\:\:extractEntity\(\) has invalid type Drupal\\search_api\\Item\\ItemInterface\.$#'
			identifier: class.notFound
			count: 1
			path: src/Service/PagefindExporter.php

		-
			message: '#^Call to method createInstance\(\) on an unknown class Drupal\\ai\\AiProviderPluginManager\.$#'
			identifier: class.notFound
			count: 2
			path: src/Service/ScoltaAiService.php

		-
			message: '#^Call to method getDefaultProviderForOperationType\(\) on an unknown class Drupal\\ai\\AiProviderPluginManager\.$#'
			identifier: class.notFound
			count: 2
			path: src/Service/ScoltaAiService.php

		-
			message: '#^Instantiated class Drupal\\ai\\OperationType\\Chat\\ChatInput not found\.$#'
			identifier: class.notFound
			count: 2
			path: src/Service/ScoltaAiService.php

		-
			message: '#^Instantiated class Drupal\\ai\\OperationType\\Chat\\ChatMessage not found\.$#'
			identifier: class.notFound
			count: 4
			path: src/Service/ScoltaAiService.php

		-
			message: '#^PHPDoc tag @var for variable \$pluginManager contains unknown class Drupal\\ai\\AiProviderPluginManager\.$#'
			identifier: class.notFound
			count: 2
			path: src/Service/ScoltaAiService.php

		-
			message: '#^Access to an undefined property Drupal\\Core\\Field\\FieldItemInterface\:\:\$entity\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/ScoltaContentGatherer.php

		-
			message: '#^Access to an undefined property Drupal\\Core\\Field\\FieldItemInterface\:\:\$value\.$#'
			identifier: property.notFound
			count: 2
			path: src/Service/ScoltaContentGatherer.php

		-
			message: '#^Access to property \$processed on an unknown class Drupal\\text\\Plugin\\Field\\FieldType\\TextItemBase\.$#'
			identifier: class.notFound
			count: 1
			path: src/Service/ScoltaContentGatherer.php

		-
			message: '#^Access to property \$value on an unknown class Drupal\\text\\Plugin\\Field\\FieldType\\TextItemBase\.$#'
			identifier: class.notFound
			count: 1
			path: src/Service/ScoltaContentGatherer.php

		-
			message: '#^Call to an undefined method Drupal\\Core\\Entity\\FieldableEntityInterface\:\:getTranslation\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/ScoltaContentGatherer.php

		-
			message: '#^Call to an undefined method Drupal\\Core\\Entity\\FieldableEntityInterface\:\:getTranslationLanguages\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Service/ScoltaContentGatherer.php

		-
			message: '#^Class Drupal\\text\\Plugin\\Field\\FieldType\\TextItemBase not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Service/ScoltaContentGatherer.php
